<div>
    <md-card id="controlls" layout="row" layout-align="center" class="md-padding">
        <md-button ng-disabled="!$ctrl.links.first || !$ctrl.links.prev"
                   ng-click="$ctrl.apiCall($ctrl.links.first.href)"
                   class="md-raised">|<
        </md-button>
        <md-button ng-disabled="!$ctrl.links.prev"
                   ng-click="$ctrl.apiCall($ctrl.links.prev.href)"
                   class="md-raised"><
        </md-button>
        <md-button class="md-raised">
            {{$ctrl.page.number + 1}}|{{$ctrl.page.totalPages}}
        </md-button>
        <md-button ng-disabled="!$ctrl.links.next"
                   ng-click="$ctrl.apiCall($ctrl.links.next.href)"
                   class="md-raised">>
        </md-button>
        <md-button ng-disabled="!$ctrl.links.last || !$ctrl.links.next"
                   ng-click="$ctrl.apiCall($ctrl.links.last.href)"
                   class="md-raised">>|
        </md-button>
    </md-card>
    <md-card class="md-padding">
        <div layout="row">
            <div flex>
                <md-button class="md-raised">Title</md-button>
            </div>
            <div flex="20">
                <md-button class="md-raised">Artist</md-button>
            </div>
            <div flex="30">
                <md-button class="md-raised">Genre</md-button>
            </div>

            <div flex="10"
                 layout="row"
                 layout-align="center center">
                <md-button class="md-fab md-mini md-raised md-primary">
                    <md-icon class="material-icons">add</md-icon>
                </md-button>
            </div>
        </div>
        <div style="height: 1px; background-color: #cccccc">
        </div>
        <song ng-repeat="songData in $ctrl.songs"
              song="songData">
        </song>
    </md-card>
</div>