<div layout="row" layout-align="start center">
    <div flex>{{ $ctrl.song.title }}</div>
    <div flex="15">{{ $ctrl.song.artist }}</div>
    <div flex="15">{{ $ctrl.song.genres }}</div>
    <md-button class="md-icon-button" ng-click="$ctrl.loeschen()">
        <md-icon md-font-icon="material-icons">delete</md-icon>
    </md-button>

    <md-button class="md-icon-button" ui-sref="song-editor({ song: $ctrl.song })">
        <md-icon md-font-icon="material-icons">edit</md-icon>
    </md-button>
</div>